env:
  node: true
  browser: true
  jasmine: true
globals:
  angular: true
  nw: true
  cordova: true
extends:
  - airbnb-base
rules:
  no-console: 0
  no-useless-escape: 0
  global-require: 0
  strict: 0
  no-use-before-define:
    - error
    - functions: false
  no-param-reassign:
    - error
    - props: false
  max-len:
    - error
    - 200
    - ignoreComments : true
  key-spacing:
    - error
    - align : colon
  func-names: 0
