env:
  node: true
  browser: true
  jasmine: true
globals:
  angular: true
  require: true
  nw: true
  cordova: true
  TweenMax: true
  Profile: true
  LocalFileSystem: true
  FastClick: true
extends:
  - airbnb-base
rules:
  no-console: 0
  no-useless-escape: 0
  global-require: 0
  no-alert: 0
  import/no-dynamic-require: 0
  strict: 0
  indent: 0
  consistent-return: 0
  no-use-before-define:
    - error
    - functions: false
  no-param-reassign:
    - error
    - props: false
  max-len:
    - error
    - 200
    - ignoreComments : true
    - ignoreStrings: true
  func-names: 0
  comma-dangle:
    - error
    - never
  arrow-body-style:
    - error
    - always
