<div
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Accept invitation'; goBackToState = 'correspondentDevices.addCorrespondentDevice'; showCamera = true; invert = true;">
</div>

<style>
  #qr-scanner{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: #eee;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #qr-scanner svg-icon{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
  }

  #qr-scanner svg{
    width: 26px;
    height: 26px;
    fill: #666;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -13px;
    margin-top: -14px;
  }
</style>

<div ng-controller="acceptCorrespondentInvitationController">
    
  <div class="onGoingProcess" ng-show="onGoingProcess">
    <div class="onGoingProcess-content" ng-style="{'background-color':backgroundColor}">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      {{onGoingProcess|translate}}...
    </div>
  </div>


    <div class="m20b">
        <form name="pairingCodeForm" class="page-form" no-validate>
		  <p translate style="text-align: center">Enter the pairing code received from the other device, or use your camera (icon at the upper right corner) to scan the QR code displayed on the other device.</p>
          <div class="text-warning size-12 m10b" ng-show="error">{{error|translate}}</div>

          <div class="input-wrap m20t">
            <input type="text" class="m0" id="code" name="code" ng-model="code" required>
            <qr-scanner on-scan="onQrCodeScanned(data)" before-scan="beforeQrCodeScan()"></qr-scanner>
          </div>
          <div class="row">
            <div ng-style="{'text-align':'center'}">
              <a class="btn btn_red-full"
                 ng-disabled="!pairingCodeForm.$valid"
                 ng-click="pair()">{{'Pair'|translate}}</a>
          </div>
        </form>
    </div>
      


    <div class="extra-margin-bottom"></div>
</div>
