<div ng-controller="disclaimerController" ng-init="init()">
  <div ng-if="agreed && index.hasProfile" ng-include="'views/includes/topbar.html'"
    ng-init="titleSection='Terms of Use';  goBackToState = 'about'; invert = true;">
  </div>

  <div class="introduction-svg" ng-include="'views/includes/background.html'"></div>
  <div class="content p20b" ng-class="{'disclaimer':!index.hasProfile}">
    <h4 class="title m0" ng-show="!index.hasProfile" style="background: transparent;">
      <div class="right">Dagcoin</div>
      <div translate>Terms of Use</div>
    </h4>
    <div class="p20h m10t">
      <div class="p20h">
        <div class="enable_text_select size-14">
          <p donttranslate>
            Dagcoin wallet is a free, open source, multi-signature digital wallet.
          </p>
          <p donttranslate>
            The software does not constitute an account where the developer of this software or any third party serves
            as a financial intermediary or a custodian of the coins, bytes or other valuables.
          </p>
          <p donttranslate>
            While the software has undergone beta testing and continues to be improved and further developed, we cannot
            guarantee that there will be no bugs in the software.
          </p>
          <p donttranslate>
            You acknowledge that Your use of this software is at Your discretion and in compliance with all applicable
            laws.
          </p>
          <p donttranslate>
            You are responsible for safekeeping Your passwords, private key pairs, PINs and any other codes You use to
            access the software.
          </p>
          <p donttranslate>
            If You lose access to Your Dagcoin wallet, You acknowledge and agree that any coins, bytes or other
            valuables You have associated with that Dagcoin wallet will become inaccessible.
          </p>
          <p donttranslate>
            If this device gets replaced or this app deleted, the funds in the wallet can be recovered only with a
            backup, which should be created right after installation.
          </p>
          <p donttranslate>
            All transaction requests are irreversible.
          </p>
          <p donttranslate>
            The authors of the software cannot retrieve your private keys or passwords if you lose or forget them and
            cannot guarantee transaction confirmation as they do not have control over the Dagcoin network.
          </p>
          <p donttranslate>
            To the fullest extent permitted by law, this software is provided “as is” and no representations or
            warranties can be made of any kind, express or implied, including but not limited to the warranties of
            merchantability, fitness for a particular purpose and noninfringement.
          </p>
          <p donttranslate>
            The funds are held securely on this device, not by the company.
          </p>
          <p donttranslate>
            In no event shall the developers of the software be liable for any claim, damages or other liability,
            whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software
            or the use of the software.
          </p>
          <p donttranslate>
            You assume any and all risks associated with the use of the software.
          </p>
          <p donttranslate>
            We reserve the right to modify these terms from time to time.
          </p>
        </div>
      </div>
      <!--p ng-show="lang != 'en'">
        <a class="center" ng-click="$root.openExternalLink('https://byteball.org/disclaimer')" translate>Official English Disclaimer</a>
      </p-->

      <div ng-show="!agreed" class="text-center">
        <p translate><label>
          <input type="checkbox" ng-model="isAgree"/>
          I confirm that I have read, understood, and agree to these terms.</label></p>
        <button class="btn btn_red-full m20t" ng-disabled="!isAgree" ng-click="agree()" ng-disabled="loading" translate>
          Confirm
        </button>
      </div>
      <button ng-show="agreed && !index.hasProfile" class="btn btn_red" ng-click="agree()" translate>
        Go back
      </button>
    </div>
    <div class="extra-margin-bottom"></div>
  </div>
</div>
