<div ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Invite new device'; goBackToState = 'correspondentDevices.addCorrespondentDevice'; showCamera = true; invert=true;">
</div>

<div ng-controller="inviteCorrespondentDeviceController">

    <div class="m20b">

      <div class="text-center">
        <div class="columns m10t" >
            <div ng-click="copyCode()">
                <qrcode size="220" version="{{qr_version}}" data="{{protocol}}:{{code}}"></qrcode>
            </div>
            <div class="m10t" style="font-size: 14px; color: #444; width: 300px; text-align: center; margin: 30px auto;">
				<span translate>Scan the above QR code using the other device, or send this pairing code to the other device:</span>
                <div ng-click="copyCode()" class="secret m10t m20b enable_text_select" style="padding: 5px 10px;border-radius: 5px;background: #f7f7f7; border: 1px dashed #ddd; position: relative;">{{code}}
                    <div ng-class="{'visible': tooltipCopiedShown}" class="tooltip radius tip-top"><svg-icon name="done"></svg-icon>Copied!</div>
                </div>
            </div>
        </div>

      </div>

    </div>


</div>
<!--<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>-->
