<div
	class="topbar-container topbar-transparent"
	ng-include="'views/includes/topbar.html'"
	ng-init="titleSection='Sweep paper wallet (unimplemented)'; goBackToState = 'preferencesAdvanced';">
</div>
<div class="introduction-svg" ng-include="'views/includes/background.html'"></div>
<div class="content" ng-controller="paperWalletController as paperWallet">
	<h4 ng-show="!paperWallet.error"></h4>
	<div class="onGoingProcess" ng-show="paperWallet.scanning || paperWallet.sending">
		<div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
			<span ng-show="paperWallet.scanning" translate>Scanning wallet funds...</span>
			<span ng-show="paperWallet.sending" translate>Sending funds...</span>
		</div>
	</div>
	<div class="box-notification text-warning" ng-show="paperWallet.error">
		<i class="fi-alert size-12"></i>
		<span>{{paperWallet.error|translate}}</span>
	</div>
	<div class="p-share js-introduction">
		<div class="p-wrap">
			<form ng-show="!paperWallet.balance" class="page-form">
				<div class="form-group">
					<div class="title clearfix">

						<span class="name" translate>Paper Wallet Private Key</span>
					</div>
					<div class="input-wrap">
						<input placeholder="{{'Paste your paper wallet private key here'|translate}}"
							   ng-model="inputData" id="inputData" ng-change="paperWallet.onData(inputData)">

					</div>

				</div>
				<div ng-show="paperWallet.isPkEncrypted" class="form-group">
					<div class="title clearfix">

						<span class="name" translate>Passphrase</span>
					</div>
					<div class="input-wrap">

						<input id="passphrase" type="password" name="passphrase"
							   placeholder="{{'Passphrase'|translate}}" ng-model="passphrase">
						<p ng-show="index.isCordova" translate class="size-12 text-gray">
							Decrypting a paper wallet could take around 5 minutes on this device. please be patient and
							keep the app open.
						</p>
					</div>

				</div>
				<div class="page-action">
					<qr-scanner on-scan="paperWallet.onQrCodeScanned(data)"></qr-scanner>
					<a class="btn btn_red-full" href="#" ng-disabled="paperWallet.scanning || !paperWallet.scannedKey"
					   ng-click="paperWallet.scanFunds()"
					   translate>Scan Wallet Funds</a>
				</div>

			</form>

			<div ng-show="paperWallet.balance" class="row">
				<div class="large-12 medium-12 columns">
					<div class="text-center m20b">
						<h4 class="text-bold size-12" translate>Funds found</h4>
						<div class="size-24">
							{{paperWallet.balance}}
						</div>
					</div>

					<button
						ng-disabled="paperWallet.sending || paperWallet.balanceBytes <= 0"
						class="button black round "
						ng-click="paperWallet.sweepWallet()"
						translate>Sweep Wallet
					</button>
				</div>

			</div>
			<div class="text-center size-12 text-gray">
				<span translate>Funds will be transferred to</span>:
				<b>{{index.alias || index.walletName}}</b>
			</div>
		</div>
	</div>


</div>
<div class="extra-margin-bottom"></div>
