<div
	ng-include="'views/includes/topbar.html'"
	ng-init="titleSection='Device name'; goBackToState = 'preferencesGlobal'">
</div>

<div class="content " ng-controller="preferencesDeviceNameController as prefDeviceName">

	<div class="introduction-svg">
		<div class="svg-container wallet">
			<svg class="icon icon-BG-shapw-2-left">
				<use xlink:href="s/images/useful/svg/theme/symbol-defs.svg#icon-BG-shapw-2-left"></use>
			</svg>
		</div>
		<div class="svg-container wallet">
			<svg class="icon icon-BG-shape-1">
				<use xlink:href="s/images/useful/svg/theme/symbol-defs.svg#icon-BG-shape-1"></use>
			</svg>
		</div>
	</div>
	<div class="p-share js-introduction">
		<div class="p-wrap">
			<form name="settingsDeviceNameForm" ng-submit="prefDeviceName.save()" class="page-form">
				<div class="form-group">
					<div class="title clearfix">

						<span class="name" translate>Device name</span>
					</div>
					<div class="input-wrap">
						<input id="deviceName" type="text" name="deviceName" ng-model="prefDeviceName.deviceName">
					</div>
				</div>


				<input type="submit" class="button expand btn_red-full round" value="{{'Save'|translate}}">
			</form>
			<div class="text-gray size-12 text-center" translate>Device name is visible to other devices you communicate
				with.
			</div>
		</div>
	</div>

</div>

<div class="extra-margin-bottom"></div>
