<div ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Advanced'; goBackToState = 'preferences'; invert = true;">
</div>

<div class="content preferences" ng-controller="preferencesAdvancedController as prefAdvanced">
    <ul>
        <li dag-right-icon="chevron-thin-right" ui-sref="information">
            <div translate>Wallet Information</div>
            <i class="icon-arrow-right3 size-24 arrow-right"></i>
        </li>
    </ul>

    <div class="m20t">
        <a ui-sref="preferencesDeleteWallet" style="font-size: 12px;text-align: center;" class="btn btn-red color_red">Delete
            Wallet</a>
    </div>
</div>
<div class="extra-margin-bottom"></div>

