<div ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Wallet Preferences'; closeToHome = true; invert = true">
</div>

<div class="content preferences" ng-controller="preferencesController as preferences" ng-init="preferences.init()">

  <h4></h4>
  <ul ng-show="!index.noFocusedWallet">
    <li dag-right-icon="chevron-thin-right" ui-sref="preferencesAlias">
      <div translate>Wallet Alias</div>
      <div class="value">{{index.alias||index.walletName}}</div>
      <i class="icon-arrow-right3 size-24 arrow-right"></i>
    </li>
    <li ng-show="index.isPrivKeyExternal">
      <div class="right text-gray">
        {{preferences.externalSource}}
        <!-- (Accont {{preferences.externalAccount}}) -->
      </div>
      <div translate>Hardware wallet</div>
    </li>
    <li dag-right-icon="chevron-thin-right" ui-sref="preferencesAdvanced">
      <div translate>Advanced</div>
      <i class="icon-arrow-right3 size-24 arrow-right"></i>
    </li>
  </ul>
  <div ng-show="!index.noFocusedWallet && index.canSign && preferences.touchidAvailable">
    <h4 translate ng-show="index.canSign">
      Spending Restrictions
    </h4>
    <ul class="no-bullet m0">
      <li ng-show="preferences.touchidAvailable">
        <switch id="touchid" name="touchid" ng-model="touchid" class="green right"></switch>
        <div translate>Scan Fingerprint</div>
      </li>
    </ul>
  </div>
  <h4></h4>
</div>
<div class="extra-margin-bottom"></div>
