<div ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Recovery'; goBackToState = 'preferencesGlobal'; invert = true">
</div>
<style>
	.preferences{
		background: #fff;
		top: 0;
	}

	.preferences ul.warnings{
		margin: 20px 0;
		background-color: transparent;
		text-align: center;
	}

	.preferences ul.warnings li{
		border-bottom: none;
		padding: 0;
	}
  
  .state_icon svg-icon svg {
    width: 100px;
    height: 100px;
    margin-left: -55px;
  }

  p.color_red {
    text-align: center;
  }

  .box-notification {
    text-align: center;
  }
</style>

<div class="content preferences" ng-controller="recoveryFromSeed as recFromSeed">

	<div class="onGoingProcess" ng-show="recFromSeed.scanning">
		<div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
			<span translate> Scanning for addresses... </span>
		</div>
	</div>

	<div ng-show="recFromSeed.bLight">
		<div class="row">
			<div class="columns center" translate>
				Recovery is only available in full wallets.
			</div>
		</div>
	</div>
	<div ng-show="!recFromSeed.bLight">

		<dag-state-icon icon="warning-1"></dag-state-icon>
    
    <ul class="warnings color_red">
		</ul>

    <div class="box-notification" ng-show="recFromSeed.error">
      <span class="text-warning">
        {{recFromSeed.error}}
      </span>
    </div>

    <p class="color_red">This will permanently delete all your existing wallets!</p>
    <p class="color_red">Only single-sig wallets can be recovered.</p>

		<form name="settingsDeviceNameForm" class="columns" ng-submit="recFromSeed.recoveryForm()">
			<label><span translate>Your Wallet Seed:</span></label>
			<textarea id="inputMnemonic" ng-model="recFromSeed.inputMnemonic"></textarea>
			<button ng-show="!recFromSeed.scanning" type="submit" class="btn btn_red-full">{{'Recover'|translate}}</button>
		</form>
	</div>

</div>
<div class="extra-margin-bottom"></div>
