<div class="modal-content">

  <div class="modal-content-header">
    <p class="m20t" ng-bind-html="title | translate"></p>
  </div>

  <div class="modal-content-body p20h text-center">
    <div id="buttons" class="row">
      <div class="columns">
        <button class="btn btn_red-full round" ng-disabled="loading" ng-class="yes_button_class" ng-click="ok()">
          <i ng-class="yes_icon"></i> <span translate>{{yes_label || 'Yes'}}</span>
        </button>
      </div>
      <div class="columns">
        <button class="btn btn_red round" ng-disabled="loading" ng-class="cancel_button_class" ng-click="cancel()">
          <i class="fi-x"></i> <span class="tu" translate>{{cancel_label || 'Cancel'}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
