<div class="modal-content fix-modals-touch">

    <a class="close_modal" ng-click="cancel()"><svg-icon title="close"></svg-icon></a>

    <div class="modal-content-header">
        <svg-icon title="credit-card"></svg-icon>
        <h3>Transaction detail</h3>
    </div>

    <div class="modal-content-body">
        <ul>

            <li ng-if="!btx.hasMultiplesOutputs && btx.addressTo && btx.addressTo != 'N/A'"
                ng-click="copyAddress(btx.addressTo)">
                <svg-icon title="vertical_align_bottom"></svg-icon>
                <strong translate>To</strong>:
                <div class="value">
                      <span ng-if="btx.merchant">
                        <span ng-show="btx.merchant.pr.ca"><i class="fi-lock color-greeni"></i> {{btx.merchant.domain}}</span>
                        <span ng-show="!btx.merchant.pr.ca"><i class="fi-unlock color-yellowi"></i> {{btx.merchant.domain}}</span>
                      </span>
                      <span ng-if="!btx.merchant">
                        <span ng-show="btx.labelTo">{{btx.labelTo}}</span>
                        <contact ng-show="!btx.labelTo" class="enable_text_select" address="{{btx.addressTo}}"></contact>
                      </span>
                 </div>
            </li>

            <li ng-show="btx.hasMultiplesOutputs" ng-click="showMultiplesOutputs = !showMultiplesOutputs">
                <strong translate>Recipients</strong>:
                <div class="value">{{btx.recipientCount}}
                    <svg-icon ng-show="showMultiplesOutputs" title="keyboard_arrow_up"></svg-icon>
                    <svg-icon ng-show="!showMultiplesOutputs" title="keyboard_arrow_down"></svg-icon>
                </div>
            </li>

            <div class="line-b" ng-show="btx.hasMultiplesOutputs && showMultiplesOutputs"
                 ng-repeat="output in btx.outputs"
                 ng-include="'views/includes/output.html'">
            </div>

            <li ng-if="btx.action == 'received'">
                <svg-icon title="vertical_align_top"></svg-icon>
                <strong>From:</strong>
                <div class="value" ng-repeat="address in btx.arrPayerAddresses">
                    {{address}}
                </div>
            </li>

            <li ng-if="btx.action == 'received'">
                <svg-icon title="vertical_align_bottom"></svg-icon>
                <strong translate>To:</strong>
                <div class="value">
                    {{btx.my_address}}
                </div>
            </li>

            <li ng-show="btc.message">
                <svg-icon title="textsms"></svg-icon>
                <strong translate>Note:</strong>
                <div class="value">{{btx.message}}</div>
            </li>

            <li ng-if="btx.action == 'invalid'">
                <div class="color_red center" translate>
                  This transaction has become invalid; possibly due to a double spend attempt.
                </div>
            </li>

            <li ng-if="btx.time">
                <svg-icon style="top: -1px;" title="date_range"></svg-icon>
                <strong translate>Date:</strong>
                <div class="value">
                  <time>{{ btx.time * 1000 | amDateFormat:'MM/DD/YYYY HH:mm a'}}</time>
                  <time>({{ btx.time * 1000 | amTimeAgo}})</time>
                </div>
            </li>
            <li>
                <svg-icon title="crop_square"></svg-icon>
                <strong>Unit</strong>:
                <div class="value">
                    <a ng-click="openInExplorer()">{{btx.unit}}</a>
                </div>
            </li>
            <li ng-if="btx.message && btx.action != 'received'">
                <strong translate>Note</strong>:
                <div class="value">{{btx.message}}</div>
            </li>
            <li ng-if="btx.merchant">
                <strong translate>Merchant message</strong>:
                <div class="value">
                    {{btx.merchant.pr.pd.memo}}
                </div>
            </li>

            <li ng-if="btx.action == 'sent' && isPrivate">
                <input type="submit" ng-click="showCorrespondentList()" class="button expand black round"
                       value="{{'Re-send private payloads'|translate}}"
                       ng-style="{'background-color':index.backgroundColor}">
            </li>
        </ul>

        <ul>
            <li ng-if="btx.time">
                <svg-icon title="hourglass_empty"></svg-icon>
                <strong translate>Status</strong>:
                <div class="value right">
                    <span class="text-warning" ng-show="!btx.confirmations || btx.confirmations == 0" translate>Unconfirmed</span>
                    <span class="label gray radius" ng-show="btx.confirmations" translate>Confirmed</span>
                </div>
            </li>
            <li ng-show="btx.action != 'received'">
                <svg-icon title="call_split"></svg-icon>
                <strong translate>Fee</strong>:
                <div class="value right">{{btx.feeStr}}</div>
            </li>
            <li>
                <svg-icon style="top: -2px;" title="dag-symbol"></svg-icon>
                <strong translate>Amount</strong>:
                <div class="value value_big right">{{(btx.action === 'invalid' ? '-' : ((btx.action === 'received' ? '+' : '-') + btx.amountStr))}}</div>
            </li>
        </ul>
    </div>
</div>
