<div class="navbar-container">

    <div class="navbar-container-triggers">
        <div class="navbar-container-back-trigger" ng-if="showBack">
            <a onclick="history.back()">
                <svg-icon name="arrow_back"></svg-icon>
            </a>
        </div>
        <span ng-if="!showBack" ng-click="openLeftMenu()">
            <svg-icon name="menu2"></svg-icon>
        </span>
    </div>

    <div class="navbar-container-title">{{title || stateTitle}}</div>

    <div class="navbar-container-triggers navbar-container-triggers-right" ng-if="triggerIcon">
        <a ng-click="triggerUrl()">
            <svg-icon name="{{triggerIcon}}"></svg-icon>
        </a>
    </div>
</div>