<div class="navbar-container" ng-class="{invert:invert}" ng-controller="topbarController as topbar">

  <div class="navbar-container-triggers">
    <div class="navbar-container-back-trigger">
      <span ng-show="goBackToState"
            ng-click="$root.go(goBackToState, resetState || false); goBackToState = null">
        <svg-icon name="arrow_back"></svg-icon>
      </span>
    </div>
    <span ng-click="index.openMenu()" ng-show="!goBackToState && !closeToHome  && !index.noFocusedWallet">
            <svg-icon name="menu2"></svg-icon>
        </span>
    <span ng-show="closeToHome && !goBackToState"
          ng-click="topbar.goHome(); closeToHome = null">
            <svg-icon name="home"></svg-icon>
    </span>
  </div>

  <div class="navbar-container-title">{{titleSection}}</div>
</div>
