<nav ng-controller="topbarController as topbar" class="tab-bar">
	<header class="c-header c-header-android js-header">
		<div class="c-header__logo"><a href="#">
			<svg class="icon icon-logo">
				<use xlink:href="s/images/useful/svg/theme/symbol-defs.svg#icon-logo"></use>
			</svg>
		</a></div>
		<div class="c-header__settings">
			<span class="settings-trigger">
			{{closeToHome}}
            <a ng-click="index.openMenu()" ng-show="!goBackToState && !closeToHome  && !index.noFocusedWallet"
			   class="p10">
				<svg class="icon icon-settings">
              <use xlink:href="s/images/useful/svg/theme/symbol-defs.svg#icon-settings"></use>
            </svg>
			</a>

		<a ng-show="closeToHome && !goBackToState "
		   ng-click="topbar.goHome(); closeToHome = null">
      <span>{{'Close'|translate}}</span>
    </a>
				<a ng-show="goBackToState"
				   ng-click="$root.go(goBackToState, resetState || false); goBackToState = null">
      <span >{{'Back'|translate}}</span>
    </a>
		</span>
		</div>

	</header>
</nav>
