@import "variables";
@import "mobile";
/* Components */
@import "components/buttons";
@import "components/inputs";

html {
  height: 100%;
  width: 100%;
  color: #2c3e50;
  user-select: text;
}

body {
  height: 100%;
  width: 100%;
  user-select: text;
  font-family: $font;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
}

svg-icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  fill: currentColor;
  line-height: 0;
}

.color_red {
  color: $red;
}

.panel {
  background: #fff;
  border-radius: 3px;
  padding: 1rem;

  qrcode {
    background-color: #fff;

    canvas {
      width: 250px;
      height: 250px;
    }
  }

  h1, h2, h3, h4, h5, h6, p, li, dl {
    color: #2c3e50;
  }
}

#qr-canvas {
  display: none;
}

#qrcode-scanner-video {
  display: block;
  margin: 0 auto;
}

.qr-scanner-input {
  position: absolute;
  top: 5px;
  right: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;

  &.pagination {
    li {
      &.current {
        a {
          background: #1abc9c;
        }
      }
    }
  }

  &.tx-copayers {
    background: #e4e8ec;
    padding: 0.3rem 0.8rem;
    margin-left: 0;
    box-shadow: inset 0 1px 1px 0 rgba(10, 19, 28, 0.12);
    border-radius: 0 0 3px 3px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 100;
  font-size: 24px;
}

h2 {
  @extend h1;
  font-size: 20px;
}

h3 {
  font-weight: 300;
  font-size: 16px;
}

h4, h2 span.small {
  font-size: 0.875rem;
}

h4 {
  &.title {
    background: #f1f3f5;
    padding: 0.8rem;
    text-transform: uppercase;
    color: #2c3e50;
    font-weight: 700;
    font-size: 0.7rem;

    a {
      text-transform: none;
      font-weight: 400;
      padding: 7px;
      font-size: 12px;
    }
  }
}

.preferences {
  background: #f1f3f5;

  li {
    cursor: pointer !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  form {
    background: #fff;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .switch {
    top: -5px !important;
  }

  h4 {
    background: #f1f3f5;
    padding: 25px 0 5px 20px;
    text-transform: uppercase;
    color: #555;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
  }

  ul {
    font-size: 14px;
    background: #fff;
    margin: 5px 0;

    li {
      line-height: 50px;
      padding: 0 50px 0 20px;
      border-bottom: 1px solid #e9e9ec;
      display: flex;
      position: relative;

      .arrow-right {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -12px;
      }

      .switch {
        position: absolute;
        right: 20px;
        top: 50% !important;
        margin-top: -16px;
      }

      > div {
        flex: auto;

        &.value {
          color: #666;
          font-size: 12px;
          text-align: right;
        }
      }
    }
  }
}

ul.whopays li {
  padding: 13px 20px;
  border-bottom: 1px solid #e9e9ec;

  &:first-child {
    border-top: 1px solid #e9e9ec;
  }
}

.addressbook-input {
  display: block;
  margin-bottom: 1.5rem;
  background-color: #e4e8ec;
  padding-left: 0.5rem;
  color: #2c3e50;
  font-size: 13px;
  height: 35px;
  padding-top: 7px;
}

ul.button-group {
  margin-top: 8px;

  li {
    color: #a5b2bf;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.7rem;
    display: block;
    padding: 3px 0;

    &.selected {
      color: #fff;
      background-color: #dedfe1;
    }

    &:first-child {
      border-top-left-radius: 0.2rem;
      border-bottom-left-radius: 0.2rem;
      border: 1px solid #dedfe1;
    }

    &:last-child {
      border-top-right-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
      border: 1px solid #dedfe1;
    }
  }

  &.even-2 {
    li {
      margin: 0 -3px;
      padding: 4px 5px;
    }
  }
}

.modal-content {
  ul {
    &.subwallets {
      li {
        &.selected {
          color: #7a8c9e;
          background-color: #dedfe1;

          a {
            color: #7a8c9e;
          }
        }
      }
    }
  }
}

.alt-currency {
  padding: 0.05rem 0.2rem;
  border-radius: 2px;
  font-size: 10px;
  color: #fff;
  font-weight: 700;

  &.green {
    background: #1abc9c;
  }

  &.red {
    background: #a02f23;
  }

  &.black {
    background: #213140;
  }

  &.gray {
    background: #7a8c9e;
  }
}

.color-greeni {
  color: #1abc9c !important;
}

.color-yellowi {
  color: #ff0 !important;
}

.color-alert {
  color: #ed4a43;
}

a {
  color: $main_color;

  &:hover {
    color: darken($main_color, 10);
  }

  &.close-notification {
    position: absolute;
    top: -4px;
    right: 10px;
    font-size: 24px;
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill, input:-webkit-autofill:focus, textarea:-webkit-autofill:focus, select:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #fff inset;
}

.sub-header {
  background: #f1f3f5;
  padding: 0.8rem;
  overflow: hidden;
}

.status {
  color: #fff;
  background-color: #a02f23;
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 10px 1rem 10px 0.5rem;
  z-index: 9;
  font-size: 14px;
  text-align: left;
  line-height: 17px;
}

.status-first-line {
  z-index: 9;
  font-size: 16px;
}

.main-dark {
  background-color: #2c3e50;
  height: 100%;
}

.page, .main {
  height: 100%;
  background-color: #fff;
}

.button {
  &.small {
    &.side-bar {
      padding: 0 0.4rem;
    }
  }
}

.waiting {
  border: 2px solid #fff;
}

.online {
  border: 2px solid #1abc9c;
}

.main {
  background-color: #fff;
  padding: 0 0 58px;
  position: relative;
}

.content {
  width: 100%;
  position: absolute;
  top: $nav_bar_height;
  bottom: 0;
  overflow: auto;

  &.disclaimer {
    top: 0;
  }
}

.content_hero {
  @include gradientBackground($main_color, darken($main_color, 10), top, bottom);
}

.box-setup-footer {
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 0 0;
  border-top: 1px solid #425467;
  font-size: 12px;
}

.box-notification {
  position: relative;
  font-size: 12px;
  padding: 0.5rem 2rem 0.5rem 0.7rem;
  border-radius: 2px;
  background: #f2f5f8;
  margin: 0 auto 1.6rem;
  word-wrap: break-word;

  .box-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #1abc9c;
    padding: 0 0.5rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 100%;

    i {
      position: relative;
      top: 10%;
      display: block
    }

    &.error {
      background-color: #ed4a43;
    }

    &.secondary {
      background-color: #3498db;
    }
  }
}

.tx-copayers {
  li {
    list-style: none;
    padding: 0.3rem;
    font-size: 12px;

    &.bottom-line-copayers {
      border-bottom: 1px solid #cad2da;
    }
  }
}

.last-transactions-content {
  padding: 1.5rem 1rem;
  cursor: pointer;
  border-bottom: 1px solid #e4e8ec;
}

.sign-action {
  background: #e4e8ec;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.icon-sign {
  padding: 0.2rem 0.3rem;
  border-radius: 100%;
  color: #fff;
  margin-right: 7px;

  &.check {
    background-color: #3fbc9c;
  }

  &.x {
    background-color: #c0392b;
  }
}

.date-message {
  background-color: #213140;
  border-radius: 3px;
  font-size: 12px;
  padding: 0.2rem 0.4rem;
  color: #7a8c9e;
}

.input-note {
  margin-top: -10px;
  display: block;
  margin-bottom: 1rem;
}

.send-note {
  background-color: #f8f8fb;
  padding: 10px;

  span {
    margin-bottom: 5px;
    font-size: 12px;
    color: #2c3e50;
  }
}

.manage {
  a {
    text-transform: uppercase;
    font-weight: 700;
    color: #4b6178;
    padding: 1.5rem 1rem;
    display: block;
    overflow: hidden;

    span {
      display: block;
      margin-top: 8px;
      float: left;
    }

    i {
      &.circle {
        background-color: #4b6178;
        width: 50px;
        height: 50px;
        padding: 0.65rem;
        border-radius: 100%;
        display: block;
        font-size: 30px;
        color: #fff;
        float: left;
        margin-right: 20px;

        &.plus-fixed {
          padding: 0.1rem 0.9rem;
        }
      }
    }
  }
}

ul.manage li {
  border-bottom: 1px solid #f1f3f5;
}

.dn {
  display: none;
}

.dni {
  display: none !important;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.m0 {
  margin: 0;
}

.p0i {
  padding: 0 !important;
}

.db {
  display: block;
}

.size-10 {
  font-size: 10px;
}

.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-36 {
  font-size: 36px;
}

.size-42 {
  font-size: 42px;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

.size-72 {
  font-size: 72px;
}

.m5 {
  margin: 5px;
}

.m5t {
  margin-top: 5px;
}

.m8t {
  margin-top: 8px;
}

.m5b {
  margin-bottom: 5px;
}

.m5r {
  margin-right: 5px;
}

.m10 {
  margin: 10px;
}

.history {
  .transactions {
    padding-bottom: 0;
    .transactions__table {
      overflow-y: auto;
    }
  }
  .page-action {
    margin-top: 20px;
  }
}

.bg-alert {
  background-color: #ed4a43;
}

.m10b {
  margin-bottom: 10px;
}

.m10t {
  margin-top: 10px;
}

.m15b {
  margin-bottom: 15px;
}

.m15r {
  margin-right: 15px;
}

.m20b {
  margin-bottom: 20px;
}

.m30b {
  margin-bottom: 30px;
}

.m40b {
  margin-bottom: 40px;
}

.m50b {
  margin-bottom: 50px;
}

.m10r {
  margin-right: 10px;
}

.m15l {
  margin-left: 15px;
}

.m15t {
  margin-top: 15px;
}

.m20r {
  margin-right: 20px;
}

.m20t {
  margin-top: 20px;
}

.m20tp {
  margin-top: 20%;
}

.m15 {
  margin: 15px;
}

.m15h {
  margin: 0 15px;
}

.p10t {
  padding-top: 10px;
}

.p10h {
  padding-right: 10px;
  padding-left: 10px;
}

.p0r {
  padding-right: 0;
}

.p70r {
  padding-right: 70px;
}

.p70l {
  padding-left: 70px;
}

.p5h {
  padding: 0 5px;
}

.p20h {
  padding: 0 20px;
}

.p20v {
  padding: 20px 0;
}

.p25l {
  padding-left: 25px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p10 {
  padding: 10px;
}

.p10b {
  padding-bottom: 10px;
}

.p45t {
  padding-top: 45px;
}

.p60t {
  padding-top: 60px;
}

.m60t {
  margin-top: 60px;
}

.p45li {
  padding-left: 45px !important;
}

.m30v {
  margin: 30px 0;
}

.m10h {
  margin: 0 10px;
}

.m10v {
  margin: 10px 0;
}

.m20v {
  margin: 20px 0;
}

.m30a {
  margin: 30px auto;
}

.m-negative-l {
  margin-left: -0.9375rem;
}

.br100 {
  border-radius: 100% !important;
}

.lh {
  line-height: 0;
}

.lh140 {
  line-height: 140%;
}

.oh {
  overflow: hidden;
}

.vm {
  vertical-align: middle;
}

.vt {
  vertical-align: top;
}

.ma {
  margin: 0 auto;
}

.tu {
  text-transform: uppercase;
}

.line {
  border-top: 1px solid #f8f8fb;
  margin: 0.7rem 0;
}

.line-white {
  border-top: 1px solid #fff;
  margin: 0.7rem 0;
}

.line-t {
  border-top: 1px solid #e9e9ec;
}

.line-b {
  border-bottom: 1px solid #e9e9ec;
}

.name-wallet {
  font-size: 14px;
  font-weight: 400;
  padding-top: 0 !important;
}

.tab-bar {
  h1, h2, h3, h4, h5, h6 {
    line-height: 3rem;
  }
}

.wallet-settings {
  font: normal 400 normal 18px "foundation-icons";
}

.locked {
  font-size: 11px;
  color: #7a8c9e;
}

.hidden {
  visibility: hidden;
}

/* Turn Off Number Input Spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  /* stylelint-disable */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* stylelint-enable */
  margin: 0;
}

.spinner {
  display: inline-block;
  margin: 0 auto;
  width: 35px;
  height: 27px;
  text-align: center;
  font-size: 10px;
  vertical-align: middle;

  > div {
    background-color: #fff;
    height: 100%;
    width: 2px;
    display: inline-block;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    animation-delay: -1.1s;
  }

  .rect3 {
    animation-delay: -1s;
  }

  .rect4 {
    animation-delay: -0.9s;
  }

  .rect5 {
    animation-delay: -0.8s;
  }
}

.bg-success {
  background-color: #1abc9c;
}

.tx-proposal {
  i {
    padding: 0.1rem 0.3rem;
    background-color: #a5b2bf;
    border-radius: 100%;
    color: #fff;

    &.active {
      background-color: #a02f23;
    }
  }
}

.header-modal {
  width: 100%;
  padding: 0.8rem;
  position: relative;
}

.label {
  font-weight: 500;
  padding: 0.3rem 0.4rem;

  &.outline {
    background: transparent;
    border: 1px solid #4b6178;

    &.gray {
      font-size: 90%;
      background: transparent;
      border: 1px solid #a9b6c2;
    }
  }

  &.success {
    background-color: #1abc9c;
  }
  &.alert {
    background-color: #ed4a43;
  }
  &.gray {
    background-color: #4b6178;
  }
  &.light-gray {
    background-color: #7a8c9e;
  }
}

.history .label {
  width: 57px;
  text-align: center;
  font-size: 65%;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select {
  background-color: transparent;
  color: #7a8c9e;
  border-color: #a5b2bf;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  color: #34495e;
  margin-bottom: 3px;

  small {
    font-size: 10px;
    color: #999;

    &.has-error {
      font-size: 11px;
    }
  }
}

button, .button {
  text-transform: uppercase;
  transition: none !important;

  &:focus {
    outline: 0;
  }

  &.radius {
    border-radius: 3px;
  }
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  border: none;
  background: transparent;

  thead {
    tr {
      text-transform: uppercase;

      th {
        padding: 15px;
      }
    }
  }

  thead, tfoot {
    tr {
      td, th {
        background-color: #f5f5f8;
        color: #949bad;
        font-weight: 400;
      }
    }
  }

  tbody {

    tr {
      td {
        color: #7a8c9e;
        border-bottom: 1px solid #f1f1f3;
      }

      &:last-child td {
        border-bottom: none;
      }
    }
  }

  tr {
    th, td {
      padding: 15px;
    }

    &.even, &.alt, &:nth-of-type(even) {
      background: transparent;
    }
  }
}

/*////////////////////////////  BUTTON OUTLINE  ////////////////////////////*/

.button.outline,
.button.outline:hover,
.button.outline:focus,
button.outline,
button.outline:hover,
button.outline:focus {
  background: transparent;
}

.button.outline.tiny,
.button.outline.tiny:hover,
.button.outline.tiny:focus,
button.outline.tiny,
button.outline.tiny:hover,
button.outline.tiny:focus {
  background: transparent;
}

.button.outline.dark-gray,
.button.outline.dark-gray:hover,
.button.outline.dark-gray:focus,
button.outline.dark-gray,
button.outline.dark-gray:hover,
button.outline.dark-gray:focus {
  background-color: transparent;
  border: 1px solid #a5b2bf;
  color: #a5b2bf;
}

.button.outline.light-gray,
.button.outline.light-gray:hover,
.button.outline.light-gray:focus,
button.outline.light-gray,
button.outline.light-gray:hover,
button.outline.light-gray:focus {
  background-color: transparent;
  border: 1px solid #ced5dc;
  color: #7a8c9e;
}

.button.outline.white,
.button.outline.white:hover,
.button.outline.white:focus,
button.outline.white,
button.outline.white:hover,
button.outline.white:focus {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* SECONDARY */
button.secondary,
button.secondary:hover,
button.secondary:focus,
.button.secondary,
.button.secondary:hover,
.button.secondary:focus {
  background-color: #008cc1;
  color: #fff;
}

/* PRIMARY */
button.primary,
button.primary:hover,
button.primary:focus,
.button.primary,
.button.primary:hover,
.button.primary:focus {
  background-color: #1abc9c;
  color: #fff;
}

/* WARNING */
button.warning,
.button.warning,
button.warning:hover,
button.warning:focus,
.button.warning:hover,
.button.warning:focus {
  background-color: #ed4a43;
  color: #fff;
}

/* WHITE */
button.white,
button.white:hover,
button.white:focus,
.button.white,
.button.white:hover,
.button.white:focus {
  background-color: #fff;
  color: #2c3e50;
}

/* BLACK */
button.black,
button.black:hover,
button.black:focus,
.button.black,
.button.black:hover,
.button.black:focus {
  background-color: #2c3e50;
  color: #fff;
}

/* GRAY */
button.gray,
button.gray:hover,
button.gray:focus,
.button.gray,
.button.gray:hover,
.button.gray:focus {
  background-color: #a9b2b8;
  color: #2c3e50;
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
  border-color: transparent !important;
  background-color: #a5b2bf !important;
  color: #fff !important;
}

.wallet-selection {
  &.wallets {
    background-color: #213140;
  }
}

ul.wallet-selection.wallets {
  margin: 0;
  overflow: hidden;

  li {
    overflow: hidden;
    padding: 1rem;

    a {
      display: block;
    }
  }
}

.postfix, .prefix {

  &.button {
    position: absolute;
    width: 38px;
    height: 28px;
    right: 7px;
    top: 7px;
    box-shadow: none;
    line-height: 1.7rem;
    border-radius: 2px;

    i {
      left: 12px;
      top: 0;
      border: none;
      box-shadow: none;
      color: #fff;
    }
  }

}

label, a {

  &.postfix {
    height: 100%;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: #7a8c9e;
    border-radius: 0 2px 2px 0;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    text-align: right;
    padding-right: 5px;
  }

}

.pointer {
  cursor: pointer;
}

.input {
  position: relative;

  &.block {
    i {
      position: absolute;
      top: 2px;
      left: 15px;
      font-size: 20px;
      color: #7a8c9e;
      padding-right: 8px;
      border-right: 1px solid #e5e8eb;
      display: block;
      cursor: pointer;
    }
  }

  label {
    line-height: 0;
    padding: 0;
  }
}

.icon-input {
  font-size: 9px;
  color: #fff;
  vertical-align: middle;
  margin-right: 3px;

  .fi-check {
    padding: 0.2rem 0.3rem;
    background-color: #1abc9c;
    border-radius: 100%;
    display: block;
  }

  .fi-x {
    padding: 0.1rem 0.3rem;
    background-color: #ed4a43;
    border-radius: 100%;
  }
}

.has-error {
  color: #ed4a43;
}

.is-valid {
  color: #1abc9c;
}

input.ng-invalid-match, input.ng-invalid-match:focus {
  border-color: #f00;
}

.black {
  background-color: #2c3e50;
}

.text-brand {
  color: #d52026;
}

.text-italic {
  font-style: italic;
}

.text-light {
  font-weight: 200;
}

.text-bold {
  font-weight: 700;
}

.text-gray {
  color: #8597a7;
}

.text-black {
  color: #2c3e50;
}

.text-primary {
  color: #1abc9c;
}

.text-secondary {
  color: #3498db;
}

.text-white {
  color: #fff;
}

.text-warning {
  color: #ed4a43;
}

.text-alert {
  color: #f00;
}

.text-success {
  color: #1abc9c;
}

.text-spacing {
  letter-spacing: 2px;
}

.text-capitalize {
  text-transform: capitalize;
}

.tour {
  text-align: center;
  height: 100%;
}

.tour5 {
  width: 90%;
  position: absolute;
  bottom: 10%;
  margin: 0 auto 0 5%;
}

.secret {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  font-size: 14px;
}

.collapse {
  margin: auto;
  max-width: 100%;
}

.w-popup-menu {
  padding: 0;

  li {
    width: 180px;
    height: 180px;
    overflow: hidden;
    position: relative;
    float: left;
    background: #213140;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 26px 0 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      text-align: center;
      width: 100%;
      height: 100%;
      display: block;
      color: #333;
      position: relative;
    }
  }
}

.w-popup-icon {
  color: #c5e4f4;
  font-size: 90px;
  text-shadow: 1px 0 1px rgba(255, 255, 255, 0.7);
  line-height: 150px;
  position: absolute;
  width: 58px;
  left: 60px;
  top: 14px;
  text-align: center;
}

.w-popup-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  top: 50%;
}

.w-popup-main {
  color: #fff;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 5px;
}

.w-popup-sub {
  text-align: center;
  color: #fff;
  line-height: 20px;
  opacity: 0.8;
}

/*///////////////////////// LOADING /////////////////////////*/
.loading-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #2c3e50;
}

.loading-screen-content {
  margin-top: 20%;
  width: 100%;
  text-align: center;
}

/*/////////////////////////////////////////////////*/

.tabbable {
  border: 2px solid #213140;
  border-radius: 3px;
  margin-bottom: 1.2rem;
}

.tabs {
  dd {
    &.active {
      a {
        color: #fff;
        background-color: transparent;
      }
    }

    > a {
      background: #213140;
      text-transform: uppercase;
      color: #3e4f5d;
      padding: 1rem;
      text-align: center;
      height: 64px;
      font-size: 14px;
      line-height: 15px;
    }
  }
}

.tabs-content {
  margin-bottom: 0;

  > .content {
    padding: 0;
    position: relative;
    top: 0;
  }
}

.content-item {
  border-bottom: 1px solid rgba(32, 48, 64, 0.3);
  box-shadow: 0 1px 0 0 rgba(121, 140, 158, 0.1);
  margin: 0.5rem 1.3rem;
  padding: 0.3rem 0;
  font-size: 14px;
}

.bg-gray {
  background-color: #f1f3f5;
}

.bg-circle {
  background: #253547;
  border-radius: 100%;
  margin: 0 0.5rem 0.3rem 0;
  padding: 0.45rem 0.5rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #7a8c9e;
  font-size: 30px;
  width: 50px;
  height: 50px;
}

.session-expi#f00 {
  background: rgba(32, 48, 64, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  z-index: 999;
  padding-top: 20%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.line-none {
  border: none;
  box-shadow: none;
}

.settings {
  fieldset {
    border: 1px solid #425467;

    legend {
      background: transparent;
      color: #a5b2bf;
    }
  }

  label {
    color: #a5b2bf;
    font-weight: 400;
  }
}

.splash {
  top: 0;

  .container-image {
    padding: 2rem 0;
  }

  .start-button {
    button {
      &.black {
        background-color: #4b6178;
      }

      &.outline {
        &.tiny {
          font-size: 0.58rem;
        }
      }
    }
  }
}

.of-asset {
  font-size: 10px;
  font-weight: 300;
  margin-top: -10px;
}

@media (max-width: 360px) {

  .columns {
    &.adaptive {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .of-asset {
    font-size: 8px;
  }
}

.of-blackbytes {
  font-size: 20px;
  margin-top: -10px;
}

.preferences-icon {
  width: auto;
  height: 40px;

  @media only screen and (max-width: 40em) {
    width: 40px;
    height: 40px;
    padding: 0.55rem !important;
  }
}

.alertModal {
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 15%;
  z-index: 1100;
}

.passModal {
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 15%;
  z-index: 1100;
}

.passModalMask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1099;
  opacity: 0.3;
  background: #000;
}

.tx-details-blockchain {
  li {
    cursor: pointer !important;
  }
}

.onGoingProcess {
  left: 0;
  width: 100%;
  bottom: 71px;
  position: absolute;
  z-index: 1020;
}

.onGoingProcess-content {
  background: #213140;
  text-align: center;
  max-width: 16.5rem;
  max-height: 3.5rem;
  margin: auto;
  color: #fff;
  padding: 0.5rem;
  font-size: 13px;
  opacity: 0.8;
  border-radius: 3px;
}

/*/////////////////// SPINNER ////////////////////*/

#history .spinner, #receive .spinner, #send .spinner {
  height: 46px;
}

#history .spinner > div,
#receive .spinner > div,
#send .spinner > div {
  background-color: #7a8c9e;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4)
  }
  20% {
    transform: scaleY(1)
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}

/*/////////////////////////////*/

.amount {
  ul[rn-carousel] {
    margin: 0;
    width: 100%;
    height: 130px;

    > li {
      text-align: center;
      color: #fff;
      width: 80%;
      margin-left: 10%;
    }
  }
}

.center {
  text-align: center;
}

.indent {
  text-align: center;
  margin: 10px 5px 5px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.tooltip {
  @extend .transition;
  display: block !important;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  top: 50%;
  margin-top: -32px;
  opacity: 0;

  svg-icon {
    margin-right: 5px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.visible {
    opacity: 1;
  }
}

.qr_code {
  position: relative;
}

.reveal-modal {
  overflow-y: auto;
  position: fixed;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);

  .modal-content {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: relative;
    top: auto;

    .modal-content-header {
      text-align: center;
      color: #adb3b9;
      font-weight: 400;

      h3 {
        color: #3e4042;
        font-weight: 600;
      }

      p {
        line-height: 1.2;
      }

      svg-icon {
        margin: 10px 0;

        svg {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

.arrow-down:after {
  content: " \25be";
}

.gray-13 {
  font-size: 13px;
  color: #6a7d90;

  &.aligned-with-input {
    margin-top: 8px;
  }

  &.aligned-with-select {
    margin-top: 7px
  }

  &.label-aligned-with-select {
    margin-top: 10px;
  }
}

.input-wrap-radio {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;

  & + span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: calc(100% - 35px);
  }

  .radio-box {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #8597a7;
    border-radius: 50%;
  }
}

.input-wrap-radio input[type="radio"] {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;

}

.radio-box:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
  background: #d52026;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.input-wrap-radio input[type="radio"]:checked + .radio-box:before {
  opacity: 1;
  visibility: visible;
}

.input-wrap input[type="text"],
.input-wrap input[type="number"],
.input-wrap input[type="email"],
.input-wrap input[type="password"],
.input-wrap select {
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 14px 22px;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  max-width: 100%;
  width: 100%;
  outline: none;
  box-shadow: none;
  background: #fff;

  &.min {
    padding: 4px 10px;
    width: 100px;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

  &.infinite {
    animation-iteration-count: infinite;
  }

  &.hinge {
    animation-duration: 2s;
  }

  .flipOutX,
  .flipOutY,
  .bounceIn,
  .bounceOut {
    animation-duration: 0.75s;
  }
}

.ps-container {
  position: relative;
  overflow: hidden !important;
}

.ps-scrollbar-y {
  position: absolute;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}

.ps-scrollbar-y-rail {
  position: absolute;
  width: 1px;
  right: 0 !important;
}

/*----------  global colors  ----------*/
/*----------  global colors  ----------*/
/**
 * in this file all global variables of colors
**/

.ico {
  vertical-align: middle;
  display: inline-block;
  position: relative;
}

.ico:before {
  transition: visibility 300ms ease, opacity 300ms ease;
  display: block;
  content: "";
}

.ico:after {
  transition: visibility 300ms ease, opacity 300ms ease;
  position: absolute;
  visibility: hidden;
  display: block;
  content: "";
  opacity: 0;
  left: 0;
  top: 0;
}

.ico:hover:before {
  visibility: hidden;
  opacity: 0;
}

.ico:hover:after {
  visibility: visible;
  opacity: 1;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

/*----------  global changes START  ----------*/
* {
  outline: none !important;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.c-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*----------  global changes END    ----------*/
/*----------  colors classes  ----------*/
/*----------  bootstrap CHANGE HELPERS  ----------*/
/* typography */
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
}

h1.h_thin,
h2.h_thin,
h3.h_thin,
h4.h_thin,
.h1.h_thin,
.h2.h_thin,
.h3.h_thin,
.h4.h_thin {
  font-weight: 400;
}

.text-small {
  font-size: 13px;
  line-height: 15px;
}

p {
  margin: 0 0 20px;
}

a.a_none {
  text-decoration: none;
}

.h-overflow {
  overflow: hidden;
}

/*----------  bootstrap CHANGE HELPERS  END  ----------*/
.l-page-wrapper {
  overflow: hidden;
}

.h-list {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.h-list_float {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.h-list_float > li {
  float: left;
}

.h-list_float:after {
  content: "";
  display: table;
  height: 0;
  visibility: hidden;
  clear: both;
}

.h-list_inline-block {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.h-list_inline-block > li {
  display: inline-block;
}

.h-fx_justify {
  display: flex;
  justify-content: space-between;
}

.h-fx_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-object-fit {
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: block;
}

.h-object-fit > img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  height: auto;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .h-object-fit > img {
    object-fit: cover;
    max-height: none;
    max-width: none;
    height: 100%;
  }
}

.no-object-fit .h-object-fit > img,
.no-objectfit .h-object-fit > img {
  display: none;
}

.c-header {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 25px;
  z-index: 99;
}

.c-header-android {
  margin-top: 0;
  padding-top: 50px;
  background: #fff;

  .navbar-wrap {
    position: relative;
    border: 0;
    box-shadow: 0 10px 7px -4px rgba(0, 0, 0, 0.2);
    height: auto;

    @media (max-width: 375px) {
      padding: 0 5px;
    }

    li {
      border-bottom: 4px solid transparent;

      &.active {
        border-bottom: 4px solid #d52026;
      }

      a {
        padding: 10px 20px;
      }
    }
  }
}

#send, #accept {
  #qr-scanner {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #eee;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    svg-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -13px;
      margin-top: -14px;

      svg {
        width: 26px;
        height: 26px;
        fill: #666;
      }
    }
  }
}

.c-header-android .c-header__logo,
.c-header-android .c-header__settings {
  margin-top: 14px;
}

.c-header__logo {
  position: absolute;
  left: 13px;
  top: 0;

  a {
    display: block;

    .icon {
      font-size: 80px;
      height: 0.3em;
    }
  }
}

.c-header__settings {
  position: absolute;
  right: 13px;
  top: 0;
}

.settings-trigger {
  display: block;

  .icon {
    font-size: 23px;
    color: #ccc;
  }
}

.c-footer {
  background-color: #fff;
}

.p-introduction {
  width: 100%;
}

canvas {
  display: block;
}

.introduction-particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.introduction-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.svg-container {
  position: absolute;
}

.svg-container.wallet:nth-child(1) {
  right: -13px;
  top: -40px;
  left: auto;

  .icon {
    font-size: 230px;
    color: #f2f2f2;
    transform: none;
  }
}

.svg-container.wallet:nth-child(2) {
  left: -188px;
  bottom: -57px;
  top: auto;
  right: auto;

  .icon {
    font-size: 300px;
    color: #f2f2f2;
    transform: none;
  }
}

.svg-container:nth-child(1) {
  top: -120px;
  left: -126px;

  .icon {
    color: #d52026;
    transform: rotate(332deg);
    font-size: 318px;
  }
}

.svg-container:nth-child(2) {
  right: -80px;
  top: 0;

  .icon {
    font-size: 390px;
    color: #f2f2f2;
  }
}

.svg-container:nth-child(3) {
  bottom: -70px;
  left: 0;

  .icon {
    color: #d52026;
    font-size: 308px;
  }
}

.introduction-logo {
  position: absolute;
  top: 50%;
  margin-top: -82px;
  left: 50%;
  margin-left: -85px;
  z-index: 2;

  .icon {
    font-size: 170px;
  }
}

.p-wallet {
  position: relative;
  width: 100%;
  padding-top: 60px;

  .price {
    position: relative;
    display: table;
    height: 100%;

    .price_digits {
      display: table-cell;
      vertical-align: middle;

      .price_digits_wrapper {
        position: relative;
      }
    }

    .price-number {
      font-size: 80px;
      position: relative;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.p-wallet_android {
  padding-top: 90px;
}

.navbar-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #f8f8f8;
  z-index: 2;
  padding: 0 10px;
  height: 50px;

  ul {
    width: 100%;
    height: 100%;
    padding-left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    list-style-type: none;

    li {
      flex: 1;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      margin-right: 0;

      a {
        display: block;
        margin: 0;
        height: 100%;
        border-top: 2px solid transparent;
        color: #cecece;
        position: relative;
        font-size: 10px;
        padding-top: 5px;

        &:not(.active) {
          &:hover {
            color: darken(#cecece, 15);
          }
        }

        span {
          display: block;
          margin-top: 3px;
        }
      }

      .icon {
        display: inline-block;
        font-size: 20px;
      }

      &.active {
        a {
          border-top: 2px solid $main_color;
          color: $main_color;
        }
      }

    }
  }
}

.p-wallet__price-block {
  position: relative;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 30px 0 0;

  .price-wrapper {
    color: #d52026;
    font-weight: 900;
    height: 90px;
    position: relative;
    display: inline-block;
  }
}

.p-wallet__price-block .price .price-icon {
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  color: #ccc;
  left: -30px;
}

.p-wallet__price-block .price .price-sup {
  font-style: italic;
  font-weight: 700;
  position: absolute;
  left: 100%;
  font-size: 40px;
  top: 5%;
}

.p-wallet__price-block .ballance {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  display: block;
  color: #aaa;
}

.transactions {
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 67px;
  z-index: 2;
  padding-bottom: 70px;
}

.transactions__head {
  text-align: center;
  color: #333;
  font-weight: 900;
  font-size: 16px;
}

.transactions__table {
  margin-top: 20px;
  overflow-x: hidden;
  //overflow-y: scroll;

  table {
    width: 100%;

    tr {
      border-top: 2px solid #ccc;

      td {
        padding: 5px 0;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.transactions__table.sm-height {
  height: 200px;
}

.transactions__table .details-wrap .icon {
  vertical-align: middle;
  stroke: currentColor;
}

.transactions__table .details-info {
  display: inline-block;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  color: #777;
  font-size: 10px;
  font-weight: 300;
}

.transactions__table .details-price {
  font-size: 24px;
  font-weight: 900;
}

.transactions__table .details-time {
  display: block;
  color: #999;
  font-size: 24px;
}

.transactions__table .details-date {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #777;
  font-size: 10px;
  font-weight: 300;
}

.danger {
  color: #d52026;
}

.success {
  color: #48be18;
}

.p-share {
  width: 100%;
  padding-top: 35px;
}

.p-wrap {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-bottom: 70px;
}

.send.tab-in .p-wrap {
  max-height: 485px;
  overflow-y: auto;
}

.p-wrap_android {
  padding-top: 80px;
  padding-bottom: 20px;
}

.page-heading span {
  color: #333;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.3px;
}

.page-heading span > span {
  font-style: italic;
}

.page-qr {
  margin-top: 50px;

  img {
    max-width: 250px;
    width: 100%;
  }
}

.page-action {
  margin-top: 20px;
}

.page-action__info {
  margin-top: 22px;
  width: 125px;
  letter-spacing: 0.7px;
  margin-left: auto;
  margin-right: auto;
  color: #999;
  font-size: 10px;
  line-height: 13px;
}

.page-form {
  margin: 60px auto 0;
  max-width: 300px;
}

input {
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 14px 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  max-width: 300px;
  width: 100%;
  outline: none;
  box-shadow: none;

  &[type="checkbox"] {
    width: auto;
    margin: 0;
  }
}

.form-group {
  text-align: left;
  margin-bottom: 23px;
}

.title {
  margin-left: 25px;
  margin-right: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #aaa;
  margin-bottom: 7px;
}

.name {
  float: left;
}

.available {
  float: right;
  font-weight: 300;

  > span {
    font-weight: 700;
  }
}

.input-wrap {
  position: relative;
}

.input-icon input {
  padding: 14px 40px 14px 22px !important;
}

.input-wrap .icon {
  position: absolute;
  right: 23px;
  top: 17px;
  font-size: 15px;
  color: #bbb;
}

.p-history {
  padding-top: 34px;

  .transactions {
    margin-top: 0;

    .transactions__table {
      padding-bottom: 0;
    }

    tr {
      border-top: 0;
      border-bottom: 2px solid #ccc;
    }
  }

  .p-wrap {
    padding-bottom: 20px;
  }
}

.qrcode {
  margin: 0 auto;
}

#main-section {
  position: relative;
  background: #fff;
  height: 100%;
}

.topbar-transparent {
  .tab-bar {
    background: transparent;
    border: 0;
  }
}

.tab-view {
  transform: translate3d(-100%, 0, 0);
  width: 100%;
  position: absolute;
  padding-top: 0;
  top: 45px;
  bottom: 37px;
  overflow: hidden;
  padding-bottom: 40px;

  &.tab-in {
    transform: translate3d(0, 0, 0) !important;
  }
}

.wrappable-menu-item {
  width: 70%;
  text-align: right;
  white-space: normal;
  word-break: break-all;

  .arrow-right {
    float: right;
  }
}

.wrapable-saidebar-item {
  white-space: normal;
  word-break: break-all;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.radios {
  li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    input {
      margin: 0;
      width: 5%;
    }
    input:hover {
      cursor: pointer;
    }
  }
}

.no-bytes-modal-msg {
  text-align: center;
}

.btns-wrapper {
  display: flex;
  justify-content: space-around;
}

.btns-wrapper button {
  padding: 0.5rem 0.6rem 0.531rem;
  font-size: 0.8rem;
  border-radius: 15px;
}

.btns-wrapper button:hover {
  background-color: #008cba;
}

section {
  &.right-small {
    left: initial;
  }
}
